.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._默认样式 {
}
.box_2 {
}
.ellipse {
}
._图片 {
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.label {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
._线 {
  color:#333333;
}
._连接符 {
  color:#333333;
}
.menu_item {
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._流程形状 {
  color:#333333;
}
._鼠标按下文本链接时 {
}
.image {
}
.flow_shape {
}
.icon {
}
.refs-design-fluent {
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.box_1 {
}
textarea, select, input, button { outline: none; }
